.fileItem .popup {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    opacity: 0.8;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.fileItem:hover .popup {
    visibility: visible;
}

.watermark{
    width: 100%;
    text-align: center;
    margin-top: 10em;
}
.watermark > i {
    font-size: 6em !important ;
    height: 0em !important;
}
.modal.visible.transition{
    display: inline !important;
}
